.Counter1 {
  width: 9px;
  min-height: 9px;
  border-radius: 50%;
  border: 2px solid #02424a;
  margin-bottom: 8px;
  cursor: pointer;
}
.Counter2 {
  width: 9px;
  min-height: 9px;
  border-radius: 50%;
  margin-bottom: 8px;
  cursor: pointer;
  border: 2px solid #02424a;
}
.Counter3 {
  width: 9px;
  min-height: 9px;
  border-radius: 50%;
  margin-bottom: 8px;
  cursor: pointer;
  border: 2px solid #02424a;
  font-family: N;
}
/* HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH */
@media (min-width: 0px) and (max-width: 560px) {
  .Counter1 {
    width: 7px;
    min-height: 7px;
    margin-bottom: 8px;
  }
  .Counter2 {
    width: 7px;
    min-height: 7px;
    margin-bottom: 6px;
  }
  .Counter3 {
    width: 7px;
    min-height: 7px;
    margin-bottom: 8px;
  }
}
